@import "~bootstrap-css-only";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$white: #ffffff;
$green: #46D25A;
$green-hover: #46be46;
$purple: #5F23A8;
$purple-hover: #4b0fa5;
$orange: #FF4600;
$orange-hover: #f03200;
$blue-navy: #282D3C;
$blue-navy-hover: #141914;
$yellow: #FFB432;
$yellow-hover: #f5aa28;


.btn {
  opacity: 1;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  border-radius: 6px;
  height: 36px;
  line-height: 0;
}
.btn:hover {
  color: $white;
}

.btn.mw-1 {
  min-width: 162px;
}
.btn.mw-2 {
  min-width: 180px;
}

.btn.btn-green {
  color: $white;
  background-color: $green;
  border-color: $green;
}
.btn.btn-green:hover {
  background-color: $green-hover;
  border-color: $green-hover;
}

.btn.btn-outline-green {
  color: $green;
  background-color: transparent;
  border-color: $green;
  border-width: 2px;
}
.btn.btn-outline-green:hover {
  color: $white;
  background-color: $green;
  border-color: $green;
}

.btn.btn-green:focus,
.btn.btn-green.focus,
.btn.btn-outline-green:focus,
.btn.btn-outline-green.focus,
.btn.btn.btn-wrap-arrow:focus,
.btn.btn.btn-wrap-arrow.focus{
  box-shadow: 0 0 0 0.2rem rgba(17, 210, 90, 0.5);
}

.btn.btn-purple {
  color: $white;
  background-color: $purple;
  border-color: $purple;
}
.btn.btn-purple:hover {
  color: $white;
  background-color: $purple-hover;
  border-color: $purple-hover;
}


.btn.btn-purple:focus,
.btn.btn-purple.focus,
.btn.btn-outline-purple:focus,
.btn.btn-outline-purple.focus{
  box-shadow: 0 0 0 0.2rem rgba(95, 35, 168, 0.5);
}
.btn.btn-outline-purple {
  color: $purple;
  background-color: transparent;
  border-color: $purple;
  border-width: 2px;
}
.btn.btn-outline-purple:hover {
  color: $white;
  background-color: $purple;
  border-color: $purple;
}

.btn.btn-orange {
  color: $white;
  background-color: $orange;
  border-color: $orange;
}
.btn.btn-orange:hover {
  color: $white;
  background-color: $orange-hover;
  border-color: $orange-hover;
}


.btn.btn-orange:focus,
.btn.btn-orange.focus,
.btn.btn-outline-orange:focus,
.btn.btn-outline-orange.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 70, 0, 0.5);
}
.btn.btn-outline-orange {
  color: $orange;
  background-color: transparent;
  border-color: $orange;
  border-width: 2px;
}
.btn.btn-outline-orange:hover {
  color: $white;
  background-color: $orange;
  border-color: $orange;
}

.btn.btn-blue-navy {
  color: $white;
  background-color: $blue-navy;
  border-color: $blue-navy;
}
.btn.btn-blue-navy:hover {
  color: $white;
  background-color: $blue-navy-hover;
  border-color: $blue-navy-hover;
}

.btn.btn-blue-navy:focus,
.btn.btn-blue-navy.focus,
.btn.btn-outline-blue-navy:focus,
.btn.btn-outline-blue-navy.focus {
  box-shadow: 0 0 0 0.2rem rgba(10, 45, 60, 0.5);
}
.btn.btn-outline-blue-navy {
  color: $blue-navy;
  background-color: transparent;
  border-color: $blue-navy;
  border-width: 2px;
}
.btn.btn-outline-blue-navy:hover {
  color: $white;
  background-color: $blue-navy;
  border-color: $blue-navy;
}
.btn.btn-yellow {
  color: $white;
  background-color: $yellow;
  border-color: $yellow;
}
.btn.btn-yellow:hover {
  color: $white;
  background-color: $yellow-hover;
  border-color: $yellow-hover;
}

.btn.btn-yellow:focus,
.btn.btn-yellow.focus,
.btn.btn-outline-yellow:focus,
.btn.btn-outline-yellow.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 180, 50, 0.5);
}
.btn.btn-outline-yellow {
  color: $yellow;
  background-color: transparent;
  border-color: $yellow;
  border-width: 2px;
}
.btn.btn-outline-yellow:hover {
  color: $white;
  background-color: $yellow;
  border-color: $yellow;
}

.btn.btn.btn-wrap-arrow{
  width: 36px;
  height: 36px;
  background: $green;
  .arrow {
    height: 9px;
    font-weight: bold;
    position: relative;
  }
  .arrow.left {
    right: 3px;
  }
  .arrow.left::before {
    font-family: "Material Icons";
    content: "❬";
    color: $white;
  }
  .arrow.right::before {
    font-family: "Material Icons";
    content: "❭";
    color: $white;
  }
}

.btn.btn.btn-wrap-arrow:hover{
  background: $green-hover;
}

.btn.btn-wrap-pagination {
  width: 36px;
  height: 36px;
  background: $purple;
  color: $white;
}
.btn.btn-wrap-pagination:hover {
  background: $white;
  border-color: $purple;
  color: $purple;
  border-width: 2px;
}
.btn.btn-outline-pagination {
  color: $purple;
  background-color: transparent;
  border-color: $purple;
  border-width: 2px;
}
.btn.btn-outline-pagination:hover {
  background: $purple;
  border-color: $purple;
  color: $white;
  border-width: 2px;
}
